body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ab7302;
    color: #fff;
}

.logo img {
    height: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo-text {
    font-size: 24px;
    color: #FFA500; /* Cor alaranjada */
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #FFA500; /* Cor alaranjada */
    padding: 50px 20px;
}

.intro-text {
    text-align: left;
}

.intro-content {
    max-width: 800px;
    margin: 0 auto;
}

.intro h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.intro p {
    margin: 10px 0 0;
    font-size: 20px;
    color: #FFF; /* Cor branca para o slogan */
}
.intro-image {
    max-width: 400px; /* Ajuste conforme necessário */
}
.plans {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #000000;
}

.card {
    background-color: #d3700d;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    margin: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card .price {
    font-size: 20px;
    font-weight: bold;
    color: #080808;
    margin: 10px 0;
}

.card .description {
    font-size: 16px;
    color: #080808;
}
.contact-btn {
    margin-top: 20px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    color: #0c0c0c;
    background-color: #ff8c00;
    border: 3px #0a0a0a;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #0056b3;
}